MONGO_URI=mongodb+srv://post_db_user:51xjWB5d4Ceyj84z@retrotimer.fpltxsj.mongodb.net/?appName=RetroTimer
PORT=3000
NODE_ENV=development
TIMER_MULTIPLIER=10
VITE_API_URL=https://backend-time4.vercel.app/api
WEATHER_API_KEY=your_openweathermap_api_key_here

