@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap");

@import "tailwindcss";

.jersey-10-charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
